.app-carousel {
    .owl-theme .owl-controls .owl-page span {
        background: $text-color;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        // filter: Alpha(Opacity=100);/*IE7 fix*/
        // opacity: 1;
        background:$activeslidegray;
    }

    .owl-theme .owl-controls .owl-buttons div {background:transparent;}
}

/***********************************************************************************************************************
                          Media Queries Desktop 1320
  ***********************************************************************************************************************/

  @media (max-width: 1320px) {}
  
  
  /***********************************************************************************************************************
                              Media Queries Tablet 1024
    ***********************************************************************************************************************/
  
  @media (max-width: 1024px) {}
  
  
  /***********************************************************************************************************************
                              Media Queries Tablet 960
    ***********************************************************************************************************************/
  
  @media (max-width: 960px) {}
  
  
  /***********************************************************************************************************************
                            Media Queries Desktop 768
    ***********************************************************************************************************************/
  
  @media (max-width: 768px) {}
  
  
  /***********************************************************************************************************************
                            Media Queries Desktop 600
    ***********************************************************************************************************************/
  
  @media (max-width: 600px) {}
  
  
  /***********************************************************************************************************************
                            Media Queries Desktop 480
    ***********************************************************************************************************************/
  
  @media (max-width: 480px) {}
  
  
  /***********************************************************************************************************************
                            Media Queries Desktop 380
    ***********************************************************************************************************************/
  
  @media (max-width: 380px) {}
  
  
  /***********************************************************************************************************************
                            Media Queries Desktop 320
    ***********************************************************************************************************************/
  
  @media (max-width: 320px) {}