.box-module .container {
 padding-top: 20rem;
 padding-bottom: 6rem;
}

.box-heading {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Proxima Nova Semibold';
}

.box-icon {
  font-size: 4rem;

  &.rem-7 {
    font-size: 7rem;
  }
}

.box-text {
  font-size: 0.95rem;
  text-align: center;
  font-family: 'Proxima Nova Regular';
  line-height: 1.56;
}
/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .box-module {
    .container {
      padding-top: 14rem;
    }
    .col-4 {
      width: 100%;
      margin: 0;
      padding-bottom: 5rem;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {
  .box-module {
    .container {
      padding-top: 6rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}