.faq-module {
  .container {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

.faq-wrapper {
  width: 70%;
  margin: 0 auto;
}

.faq-content {
  display: none;
  padding-bottom: 0.7rem;
}

.faq-li {
  border-bottom: 1px solid #d6d6d6;

  &:first-of-type {
    border-top: 1px solid #d6d6d6;
  }
}

.faq-heading {
  cursor: pointer;
  padding: 0.7rem 0;
  transition: all 0.2s ease-in-out;


  span, i {
    vertical-align: middle;
  }
  i {
    margin-right: 1rem;
    font-size: 0.8rem;
    line-height: 0;
    &:before {
      -webkit-animation: rotate-backwards 0.2s forwards; /* Safari 4.0 - 8.0 */
      animation: rotate-backwards 0.2s forwards;
    }
  }

  &:hover {
    color: $green;
  }
  &.active {

    i:before {
      -webkit-animation: rotate 0.2s forwards; /* Safari 4.0 - 8.0 */
      animation: rotate 0.2s forwards;
      color: $green;
    }

    span {color: $green;}
  }
}

@-webkit-keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@-webkit-keyframes rotate-backwards {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}
@keyframes rotate-backwards {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}

/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .faq-wrapper {
    width: 100%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}