.footer {
  .container {
    padding-top: 2.52rem;
    padding-bottom: 3.96rem;
  }

  .email-wrapper-circle .row {
    margin: 0;
    padding-top: 2.16rem;
    > div:first-child {
      i {
        color: #d1d1d1;
        position: absolute;
        top: 9px;
        left: 14px;
      }

      input[type="email"] {
        padding: 8px 5px 8px 2.7rem;
      }
    }
  }

  .btn-circle-md {
    height: 47px;
    width: 47px;
    line-height: 39px;
    text-align: center;
    padding: 0;
    margin-left: 15px;
  }
}

.copyright {
  span, a {
    vertical-align: middle;
  }
}

.footer-nav {
  padding-left: 3.6rem;
}

/***********************************************************************************************************************
						Media Queries Desktop 1600
***********************************************************************************************************************/
@media (max-width: 1600px) {
  .footer .btn-circle-md {
    height: 40px;
    width: 40px;
    line-height: 41px;
  }
}
/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1180
***********************************************************************************************************************/
@media (max-width: 1180px) {
  .footer .btn-circle-md {
    height: 39px;
    width: 39px;
    line-height: 40px;
  }
}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {
  .footer .btn-circle-md {
    height: 37px;
    width: 37px;
    line-height: 38px;
  }
}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {
  .footer {
    .btn-circle-md {
      height: 40px;
      width: 40px;
      line-height: 41px;
    }
    .col-4 {
      width: 60%;
    }
    .col-8 {
      width: 100%;
    }
  }

  .footer-nav {
    padding-top: 3.6rem;
    padding-left: 0;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .footer {
    .col-4 {
      width: 70%;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .footer {
    .col-6 {
      width: 100%;
      text-align: center;

      .socials.right {
        padding-top: 1rem;
        text-align: center;
      }
    }
  }

  .footer-nav {
    .col-3 {
      width: 47%;
      padding-bottom: 1.44rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {
  .footer {
    .col-4 {
      width: 100%;
    }

    .btn-circle-md {
      height: 44px;
      width: 44px;
      line-height: 45px;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {
  .footer .btn-circle-md {
    height: 40px;
    width: 40px;
    line-height: 41px;
  }
}