.full-width-img-text-module {
  position: relative;

  &.reverse {

    .img-wrapper {
      float: right;
    }

    .full-width-img-text-wrapper {
      left: auto;
      right: 50%;
      padding-right: 3rem;
      padding-left: 0;
    }
  }

  .img-wrapper {
    float: left;
    width: 50%;
  }
}

.full-width-img-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  padding-left: 3rem;
  transform: translate(0, -50%);
}

/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .full-width-img-text-module {
    padding: 3rem 20px 3rem;
    &.reverse {
      padding-bottom: 6rem;
    }
    .img-wrapper {
      display: none;
    }
    &.reverse .full-width-img-text-wrapper, .full-width-img-text-wrapper {
      position: static;
      transform: translate(0, 0);
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}