@-webkit-keyframes top-in {
  from {top: -87px;}
  to {top: 0;}
}
@keyframes top-in {
  from {top: -87px;}
  to {top: 0;}
}
.header {
    height: 87px;
    overflow: visible /*hidden*/;
    position: relative;
    z-index: 1;
    /*box-shadow: 1.4px 1.4px 5px 0 rgba(0, 0, 0, 0.25);*/

    &.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 200;
        -webkit-animation: top-in 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        animation: top-in 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-links {
        font-size: 0;
        overflow: visible /*hidden*/;
        line-height: 87px;
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-family: 'Proxima Nova Semibold';
        color: #000;/*rgba(255, 255, 255, 0.4);*/
        display: inline-block;
        margin-right: 1.3rem;
        transition: all 0.2s ease-in-out;

        &:last-of-type {
            padding-right: 0;
        }

        &:hover, &.active {
            color: $text-color;
            box-shadow: inset 0 -0.3rem 0 $green;
        }
    }

    .logo {
        line-height: 74px;
    }

    .logo-link {
        display: block;
    }

    .logo-img {
        vertical-align: middle;
        width: 100%;
    }

    .btn-wrapper {
        line-height: 100px;
    }

    /***********************************************************************************************************************
						Menu dropdown
    ***********************************************************************************************************************/
    .dropdown {
        position: relative;
        cursor: pointer;

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1000;

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-transform: capitalize;
                line-height: 10px;

                &:hover {
                    /*background-color: #f1f1f1;*/
                    color: $green;
                }
            }
        }

        &:hover .dropdown-content {
            display: block;
        }

        &:hover .dropbtn {
            background-color: #3e8e41;
        }
    }
}

/***********************************************************************************************************************
						Background image section
***********************************************************************************************************************/
.module-placeholder-header {
  //height: 720px;
  height: 38rem;
  .container {
    padding-top: 3.7rem;
  }

  &.debit-card-header,
  &.pay-bills-header {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.4;
      background-size: cover !important;
    }
  }
  &.debit-card-header {
    &:after {
      background: url('../../img/Debit_Card/header_image.jpg') no-repeat center bottom;
    }
  }
  &.pay-bills-header {
    &:after {
      background: url('../../img/Pay_Bills/image_header.jpg') no-repeat center bottom;
    }
  }
}



.header-content-heading {
  font-size: 2.6rem;
  font-family: 'Proxima Nova Semibold';
  line-height: 1.56;
  color: #fff;
  text-align: center;
}

.header-content-text {
  font-size: 1.6rem;
  font-family: 'Proxima Nova Regular';
  line-height: 1.43;
  color: #fff;
  text-align: center;
}
.mobile-wrapper {
  position: relative;
  padding: 15rem;
}
.single-mobile {
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  width: 100%;
  text-align: center;
}
.single-mobile-img {
  width: 60%;
}

/***********************************************************************************************************************
						Mobile Navigation
***********************************************************************************************************************/
.hamburger-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 25px;
  margin: 31px 0;

  .hamburger-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 5px;
    width: 100%;
    border-radius: 5px;

    &:nth-of-type(2) {
      top: 10px;
    }

    &:nth-of-type(3) {
      top: 20px;
    }
  }
}
.mobile-nav-module {
  position: fixed;
  top: 0;
  left: -200px;
  bottom: 0;
  width: 200px;
  background: #fff;
  z-index: 1000;
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &.active {
    left: 0;
  }
}

.mobile-nav {
  padding: 2rem 0;

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Proxima Nova Semibold';
    color: #333;

    &.active {
      color: $lightblue;
    }
  }
}
.curtain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 1000;
  display: none;
  
  &.active {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
}

.nav-btn-wrapper {
  display: none;
}
.nav-btn {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 0;
  //line-height: 87px;
  cursor: pointer;
  outline: 0;
}
/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {
  .header .nav-link {
    font-size: 1rem;
  }
}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {
  .header {

    .col-8 {
      display: none;
    }
    .nav-btn-wrapper {
      display: block;
      float: left;
      width: 7.5%;

    }
    .col-2 {
        width: 40%;

      &:last-of-type {
        width: 47.5%;

        .btn-wrapper {
          text-align: right;
        }
      }

      .logo-link {
        display: inline-block;
      }
    }
  }

}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .single-mobile-img {
    width: 75%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .single-mobile-img {
    width: 90%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {
  .mobile-wrapper {
    display: none;
  }

  .module-placeholder-header {
    height: auto;
    padding-bottom: 3rem;
  }

  .header {
    .col-2 {
      width: 55%;
      padding-left: 1rem;
      &:last-of-type {
        width: 32.5%;
        padding-left: 0;
        .btn-wrapper {
          text-align: right;

          .btn-md {
            margin: 29px 0;
          }
        }
      }

      .logo-link {
        display: inline-block;
      }
    }

    .logo-img {
      width: 75%;
    }
  }

}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {
  .header {
    .col-2 {
      padding-left: 1.5rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}