input[type="email"],
input[type="text"],
textarea {
    @include border-radius(5px);
    border: 1px solid $input-border;
    padding: 12px;
    width: 100%;
    display: block;
    outline: none;
    transition: all 0.2s ease-in-out;
    &:focus {
      border: 1px solid $green;
    }
}

textarea {
    resize: vertical;
}