.tab {
    overflow: hidden;
    border-bottom: 1px solid $lightgray;
    button {
        background-color: transparent;
        border-radius: 0;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        &:hover {
            border-bottom: 5px solid $green;
        }
        &.active {
            border-bottom: 5px solid $green;
        }
        &[data-id="1"] {
            float: right;
        }
        &[data-id="2"] {
            float: left;
        }
    }
}

.tabcontent {
    display: none;
    opacity: 0;

    &.active {
        display: block;
        animation: opacity 0.5s ease-in-out forwards;
      }
}

@keyframes opacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/***********************************************************************************************************************
                          Media Queries Desktop 1320
  ***********************************************************************************************************************/

@media (max-width: 1320px) {}


/***********************************************************************************************************************
                            Media Queries Tablet 1024
  ***********************************************************************************************************************/

@media (max-width: 1024px) {}


/***********************************************************************************************************************
                            Media Queries Tablet 960
  ***********************************************************************************************************************/

@media (max-width: 960px) {}


/***********************************************************************************************************************
                          Media Queries Desktop 768
  ***********************************************************************************************************************/

@media (max-width: 768px) {}


/***********************************************************************************************************************
                          Media Queries Desktop 600
  ***********************************************************************************************************************/

@media (max-width: 600px) {}


/***********************************************************************************************************************
                          Media Queries Desktop 480
  ***********************************************************************************************************************/

@media (max-width: 480px) {}


/***********************************************************************************************************************
                          Media Queries Desktop 380
  ***********************************************************************************************************************/

@media (max-width: 380px) {}


/***********************************************************************************************************************
                          Media Queries Desktop 320
  ***********************************************************************************************************************/

@media (max-width: 320px) {}