#popup-contact-us {
    @include border-radius(10px);
    @include popup-shadow;
    background: $white;
    height: 100%;

    .popup-close {
        position: absolute;
        top: 0;
    }
    .row {
        &.title {
            background: $green;
            @include border-top-radius(10px);
            padding: .6rem 0;
            text-align: center;
            
                                img {
                                    width: 227px;
                                }
        }
        &.content {
            padding: 2rem;
            @include border-radius(10px);
            background-color: #fefefe;
            .form {

                .title {
                    @include border-top-radius(10px);
                    background: $green !important;
                   
                }
                .content {
                    padding: 2rem 1rem;
                    h2 {
                        text-align: center;
                    }
                    .wrapper {
                        form {
                            .row {
                                
                                text-align: left;
                                .field-wrapper {
                                    position: relative;
                                }
                                input {
                                    @include border-radius(5px);
                                    border: 1px solid $input-border;
                                    padding: 12px 12px 12px 2.5rem;
                                    width: 100%;
                                    display: block;
                                    margin: 1rem auto;
                                    margin-bottom: 0;
                                }
                                img {
                                    position: absolute;
                                    top: 15px;
                                    left: 15px;
                                }
                                button {
                                    margin-top: 1rem;
                                    margin-bottom: .3rem;
                                    max-width: 170px;
                                    width: 80%;
                                }

                                .button-wrapper {text-align: center;}
                                #recaptcha-placeholder {
                                    &>div {
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .success {
                    display: none;
                    text-align: center;
                    padding: 2rem 1rem;
                }
            }
        }
    }
}