.road-map-module {
  position: relative;

  .container {
    padding-top: 4.32rem;
    padding-bottom: 4.32rem;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background: url('../../img/Home_Page/connected dots.png') no-repeat center center;
  }
}

.road-map-pannel {
  position: relative;
  border: 1px solid #fff;

  &:before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    z-index: 100;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;

    border-bottom: 1rem solid #fff;
  }

  // &:nth-child(3){
  //   .road-map-ul {
  //   height: 270px;
  //   }
  // }

}
.roadmap-heading {
  background: #fff;
  padding: 0.5rem 1rem;
}
.road-map-ul {
  margin: 1rem 2.1rem;
}

.road-map-li {
  list-style: disc;
  padding-bottom: 1rem;

  &:last-of-type {
    padding-bottom: 0;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .road-map-module {
    .img-wrapper {
      display: none;
    }
    .col-6 {
      width: 100%;
      margin: 0;

      .resp-padding-bottom {
        padding-bottom: 2rem;
      }
    }
  }

  .road-map-pannels-wrapper .col-4 {
    width: 100%;
    margin: 0;
    padding-bottom: 3rem;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}