.tabs-module .container {
  padding-top: 4.32rem;
  padding-bottom: 4.32rem;
}

.single-tab {
  transition: box-shadow 0.2s ease-in-out;
  padding: 1.2rem 1rem 2rem;
  position: relative;
  cursor: pointer;
  &:hover, &.active {
    background-color: $white;
    box-shadow: 1.4px 1.4px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }
}

.tabs-content {
  display: none;
  opacity: 0;

  &.active {
    display: block;
    animation: opacity 0.5s ease-in-out forwards;
  }
}
@keyframes opacity {
  from {opacity: 0}
  to {opacity: 1}
}
/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .tabs-module {
    .col-5 {
      width: 100%;
      margin: 0;
    }
    .col-7 {
      display: none;
    }

    .single-tab, .single-tab.active {
      box-shadow: none;
      cursor: auto;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}