.text-img-module {
  .container {
    padding-top: 9rem;
    padding-bottom: 9rem;

    &.header-img-padding {
      padding-top: 20rem;
      padding-bottom: 11rem;
    }
  }

  .text-img-wrapper {
    position: relative;
  }
  .img-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translate(0, -50%);
  }

  &.reverse {
    .img-wrapper {
      right: 0;
      left: auto;
    }

    .text-img-content {
      float: left;
    }
  }

  &.reset-padding {
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.text-img-content {
  width: 50%;
  float: right;
}

.big-number-icon {
  font-size: 11rem;
  position: relative;
  color: #eee;
  font-family: 'Proxima Nova Semibold';

  i {
    position: absolute;
    left: 0;
    font-size: 3.3rem;
    z-index: 8;
    color: #333;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    right: 0;
  }

  .font-4-8rem {
    font-size: 4.8rem;
  }
  .font-5-4rem {
    font-size: 5.4rem;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .text-img-module {
    .img-wrapper {
      display: none;
    }
    .text-img-content {
      width: 100%;
      float: none;
    }

    .container.header-img-padding {
        padding-top: 14rem;
        padding-bottom: 6rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {
  .text-img-module {
    .container.header-img-padding {
      padding-top: 6rem;
      padding-bottom: 3rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}