.heading-lg {
  font-family: 'Proxima Nova Semibold';
  font-size: 2.8rem;
  line-height: 1.43;
}

.heading-md {
  font-family: 'Proxima Nova Semibold';
  font-size: 1.8rem;
  line-height: 1.43;
}

.heading-s {
  font-family: 'Proxima Nova Semibold';
  font-size: 1.2rem;
  line-height: 1.43;
}

.heading-xs {
  font-family: 'Proxima Nova Semibold';
  font-size: 0.9rem;
  line-height: 1.56;
}

.text-lg {
  font-family: 'Proxima Nova Regular';
  font-size: 1.41rem;
  line-height: 1.43;
}

.text-md {
  font-family: 'Proxima Nova Regular';
  font-size: 0.95rem;
  line-height: 1.56;
}

.text-s {
  font-family: 'Proxima Nova Regular';
  font-size: 0.9rem;
  line-height: 1.56;
}

.text-xs {
  font-family: 'Proxima Nova Regular';
  font-size: 0.8rem;
  line-height: 2;
}

.bold {
  font-family: 'Proxima Nova Semibold';
}
.light {
  font-family: 'Proxima Nova Regular';
}

.align-middle {
  vertical-align: middle;
}
