.or-module {
  .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .heading-md {
    position: relative;
  }
  .or-text {
    position: absolute;
    display: inline-block;
    width: 15%;
    right: -11%;
    top: 13%;
    font-size: 1.1rem;
  }
}
.home-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../img/Home_Page/Home_Page_Header_Section__compressed.jpg');
  background-size: cover;

  .single-mobile-img {
    width: 50%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 1600
***********************************************************************************************************************/
@media (max-width: 1600px) {
  .module-placeholder-prepaid-card {
    & > article {
      &:first-child {
        .mw-500 {
          padding: 1.5rem;
        }
      }
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {
  .home-header .single-mobile-img {
    width: 45%;
  }
}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {
  .home-header .single-mobile-img {
    width: 60%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .contact-module .col-6 {
    width: 100%;
    margin: 0;

    &:first-of-type {
      padding-bottom: 3rem;
    }
  }

  .or-module {
    .or-text {
      display: none;
    }
    .col-6 {
      width: 100%;

      &:first-of-type {
        padding-bottom: 4rem;
      }
    }
  }
  .home-header .single-mobile-img {
    width: 60%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .secured-module .row {
    display: none;
  }
  .home-header {
    .single-mobile {
      top: 2.5rem
    }
    .single-mobile-img {
      width: 70%;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {

}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}