.module-placeholder-header {
	&.vault-header {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../img/Vault/shutterstock_386623786.jpg');
		background-size:cover;

		.img-wrapper {
			position: relative;
			cursor: pointer;
			display:block;
			.banner-icon-text {
				position: relative;
				visibility: hidden;
            }
			&:hover {
				.demo-icon {visibility: hidden;}
				.banner-icon-text {
					visibility: visible;
					top: -4rem;
				}
			}
		}
	}
}

.module-placeholder-vault {
	.three-columns-blue {
		i, span {
			vertical-align: middle;
		}

		i {font-size: 2.5rem;}
	}
	.content-icon {
		font-size: 11rem;
	}
}
/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .module-placeholder-vault {

    .three-columns-blue {
      i {
        font-size: 1.6rem;
      }
      span {
        font-size: 1.2rem;
      }
    }
  }

}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .module-placeholder-vault {
    .col-4 {
      width: 100%;
      padding-bottom: 1rem;
      //text-align: center;
    }
    .three-columns-blue {
      i {
        font-size: 1.6rem;
      }
      span {
        font-size: 1.2rem;
      }
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {
  .vault-auth-icons {
    display: none;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}