.module-placeholder-pay-bills {
  .box-click {
    cursor: pointer;
    padding: 0.3rem 0;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;

    &.active {
      background: $green;
      color: #fff;
    }
  }
  .box-click-wrapper {
    padding: 1.44rem 2.16rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &.active {
      box-shadow: 1.4px 1.4px 15px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
.number-wrapper {
  text-align: center;
  padding: 1.8rem 0;
}

.big-number {
  font-size: 3rem;
  color: $green;
}
/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .module-placeholder-pay-bills {
    .box-module .container {
      padding-top: 6rem;
    }
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}