.module-placeholder-debit-card {
  .text-img-module.how-to-start-module .container {
    padding-top: 4.32rem;
    padding-bottom: 4.32rem;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 1320
***********************************************************************************************************************/
@media (max-width: 1320px) {}

/***********************************************************************************************************************
					  	Media Queries Tablet 1024
***********************************************************************************************************************/
@media (max-width: 1024px) {
  .debit-card-header .single-mobile-img {
    width: 45%;
  }
}

/***********************************************************************************************************************
					  	Media Queries Tablet 960
***********************************************************************************************************************/
@media (max-width: 960px) {
  .debit-card-header .single-mobile-img {
    width: 65%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 768
***********************************************************************************************************************/
@media (max-width: 768px) {
  .debit-card-header .single-mobile-img {
    width: 85%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 600
***********************************************************************************************************************/
@media (max-width: 600px) {
  .debit-card-header .single-mobile-img {
    width: 100%;
  }
}

/***********************************************************************************************************************
						Media Queries Desktop 480
***********************************************************************************************************************/
@media (max-width: 480px) {}

/***********************************************************************************************************************
						Media Queries Desktop 380
***********************************************************************************************************************/
@media (max-width: 380px) {}

/***********************************************************************************************************************
						Media Queries Desktop 320
***********************************************************************************************************************/
@media (max-width: 320px) {}